[Desktop Entry]
Type=Application
Name=personal-finance-manager
Icon=personal-finance-manager
Categories=Utility
Terminal=false
X-AppImage-Version=0.1.09
